
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.login-container h2 {
    font-size: 32px;
    color: #FF7043;
    margin-bottom: 20px;
    text-align: center;
}

#loginForm {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#loginForm label {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

#loginForm input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

#loginForm input:focus {
    border-color: #FF7043;
    outline: none;
    box-shadow: 0px 0px 5px rgba(40, 169, 146, 0.3);
}

#loginForm button {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28A992;
    color: white;
    width: 100%;
    transition: background-color 0.3s ease;
}

#loginForm button:hover {
    background-color: #1f8a72;
}


.forgot-password {
    text-align: center;
    margin-top: 20px;
}

.forgot-password a {
    color: #28A992;
    text-decoration: none;
    font-size: 16px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #FF7043;
    text-decoration: none;
    font-size: 16px;
}

.signup-link a:hover {
    text-decoration: underline;
}
